@import "tailwindcss";

:root {
  --bg: #EDEBE5;
  --paper: #E5E2DA;
  --black: #1C1A17;
  --accent: #C9956A;
  --gray: #C4BFB7;
  --gray-mid: #9A948C;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg);
  color: var(--black);
  font-family: 'DM Sans', sans-serif;
  font-weight: 200;
}
